@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.Footer_b {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding:50px 0;
  text-align: center;
  background-color:white;
}

.content_b {
  font-size: 10px;
  line-height: 20px;
  color:black;
}

.division {
  margin:0 10px;
}

.member {
  margin: 5px;
}

.member:first-child {
  margin: 0;
}