@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.Home {
    font-family: 'Roboto', sans-serif;
    height:100%;
    text-align: center;
    background-color: black;
    color:white;
}

.content_wrap {
    height:1200px;
}