.movies {
    width:100%;
    position: absolute;
}
.title {
    position: relative;
    width:100%;
    padding: 8px 20px 50px;
    font-size: 13px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.swiper-pagination-bullet {
    color:white;
    --swiper-theme-color: white;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid white;
 }

.poster img{
    width:200px;
    height:300px;
    border-radius: 7px;
    padding:0 50px;
}

.swiper-button-prev, .swiper-button-next {
    padding:10px;
    --swiper-theme-color:white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
}