@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.Reservation {
    font-family: 'Roboto', sans-serif;
    height: 1200px;
    background-color: white;
    margin:0 auto;
    align-items: center;
}