@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.Reservation {
    max-width: 1280px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin:0 auto;
    align-items: center;
    text-align:center;
}

.rsv_content{
    width:100%;
    align-items: center;
    margin: 70px auto;
    height:100%;
    text-align:center;
}

.rsv_title {
    line-height: 27px;
    width:100px;
    border-bottom: 1px solid black;
    margin:70px auto 20px;
    font-size: 18px;
    vertical-align: middle;
}

.box_wrap{
    height: 100%;
    /* 확인겸 */
}

.choice_wrap{
    height: 100%;
    justify-content: space-between;
    width:100%;
    display: flex;
}

.progress {
    height: 800px;
    padding-right: 1px;
    box-sizing: border-box;
}

.progress table {
    height: 100%;
    box-sizing: border-box;
    border:1px solid blueviolet;
}

.box {
    width: 100%;
    height: 100%;
}

.box table {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

table{
    border-collapse: separate;
}

th{
    height:40px;
}

td, th {
    font-size: 14px;
    line-height: 25px;
    width:80px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid purple;
}

.box td {
    border: 1px solid #C4C4C4;
}

.box th {
    border: 1px solid black;
}

td:last-child{
    padding:0;
}

.check {
    margin-top:3px;
    color:white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
}

.check p{
    line-height: 40px;
}


.reserve-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 800px;
    /* border: 1px solid #dddddd; */
}

.reserve-container>div {
    border: 1px solid #dddddd;
}

.reserve-title {
    border-bottom: 1px solid #dddddd;
    background-color: #444444;
    text-align: center;
    color: #dddddd;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}

.timesch{width:100%;}

.movie-part {
    width: 284px;
}

.theater-part {
    width: 264px;
}

.day-part {
    width: 91px;
}

.time-part {
    width: 384px;
}

.sort-wrapper {
    margin: 10px 6px 6px 10px;
    /* padding: 3px; */
    display: flex;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
}

.sort-wrapper>div {
    padding: 3px;
}

.sort-wrapper>div:hover {
    border-bottom: 1px solid #111111;
}

.sort-selected {
    font-weight: bold;
    border-bottom: 1px solid #111111;
}

.sort-korean {
    margin-left: 6px;
}

.reserve-date {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 770px;
    overflow: scroll;
    overflow-x: hidden;
}

.movie-date-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 2px;
}

.movie-week-of-day {
    margin-left: 5px;
    font-size: 10px;
    width: 12px;
    height: 22px;
    line-height: 22px;
}

.movie-day {
    text-align: center;
    width: 34px;
    height: 22px;
    font-size: 17px;
    font-weight: bold;
}

.saturday {
    color: #31597E;
    font-weight:900;
}

.sunday {
    color: #AF2D2D;
    font-weight: 900;
}

.movie-date-wrapper-active {
    background-color: #333333;
}

.movie-date-wrapper-active>* {
    color: white;
}

.Reservation button{
    background-color:inherit;
    border: 0px;
    width:100%;
    line-height: 25px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

.reservedlocallist > button{
    line-height: 40px;
    font-size: 13px;
    /* background-color: rgba(0,0,0,0.2); */
    border-top: 1px solid rgba(0,0,0,0.5);
}
.reservedlocallist > button:last-child, .reservedlocallist > button:last-child:first-child{
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

#true{
    background-color:purple;
    color:white;
    font-weight: bold;
}
/* #true{
    background-color:rgba(0,0,0,0.8);
    color:white;
    font-weight: bold;
} */

.lis{
    background-color: rgba(0,0,0,0.2);
}

.lis{
    line-height: 35px;
}


.schedule button{
    vertical-align: middle;
    text-align: left;
    align-items: left;
    margin: 10px 0;
}

.schedule button::after {
    display: block;
    content:'';
    clear: both;
}

#info {float:left; padding-left: 10px;}

#iternals, #ddun {
    float: right;
}

#iternals img, #ddun img {
    vertical-align: middle;
    width:150px;
    height:200px;
    padding-right: 10px;
}

.movie-list span{
    line-height: 40px;
    padding:10px 100px;
    border-bottom : 1px solid purple;
}

.movie-list button {
    height:50px
}

.rsv_content>#activebtn{
    background-color: lavender;
    color:black;
    line-height: 100%;
    font-size: 18px;
    border-radius: 7px;
    width:200px;
    margin-top:80px;
    padding: 10px 0;
    box-sizing: border-box;
    border:2px solid purple;
    font-weight: bold;
    box-sizing: border-box;
}

.rsv_content>#activebtn::after{
    display: block;
    content:'';
    clear:both;
}

.stepbutton {
    font-size: 18px;
    border-radius: 7px;
    width:200px;
    margin-top:80px;
    padding: 10px 0;
    box-sizing: border-box;
    border:2px solid rgba(0,0,0,0.2);
    color:rgba(0,0,0,0.6);
}

.movie #default{
    display:none;
}

.movie #theater {
    display:block;
}

.time-part #default  {
    display: none;
}

.time-part #activebtn {
    display:block;
    box-sizing: border-box;
}

#서울{
    background-color: rgba(0, 0, 0, 0.7);
    color:white;
}

#강남점:nth-child(2), 
#이터널스:first-child,
#ten:nth-child(3),
#first:first-child
{
    background-color:lavender;
    border:2px solid purple;
}
.Reservation .schedule{width:100%; margin:10px 0;}
