@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.Theater {
    font-family: 'Roboto', sans-serif;
    height:100%;
    text-align: center;
    background-color: white;
    color:black;
}

.theater{
    max-width: 1280px;
    height:2000px;
    align-items: center;
    margin: 0 auto;
    text-align:center;
}
.sch{
    position:relative;
}
.rsvbtn{
    display: none;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    /* display: none; */
    padding:8px 50px;
    border-radius: 7px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    border:1px solid white;
    color:white;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.sch:hover .rsvbtn{
    display: block;
}

.theater_title{
    line-height: 27px;
    width:100px;
    border-bottom: 1px solid black;
    margin:70px auto 20px;
    font-size: 18px;
    vertical-align: middle;
}

.theater_list {
    background-color:lavender;
    padding: 20px 40px;
    line-height: 25px;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    height:200px;
    border:1px solid lavender;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top:0px;
}

.theater_name {
    line-height: 40px;
    font-size: 13px;
}

.locallist{
    display:table;
    width:100%;
    table-layout: fixed;
    box-sizing: border-box;
}

.locallist li{
    width:100%;
    /* box-sizing: border-box; */
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    border: 2px solid rebeccapurple;
    justify-content: space-between;
    font-size: 13px;
}

.clickedlocal { background-color: rebeccapurple; color:white; font-weight: bold;}

.locallist li+li {border-left:0px;}

.locallist li:first-child { border-top-left-radius:10px;}
.locallist li:last-child {border-top-right-radius: 10px;}

.theaterbox {
    width: 100%;
}

.gangnam{margin:50px auto;}

.gangnam p {line-height: 30px; text-align:left; font-weight: bold;}
#gangnamimg{
    width: 100%;
    height:500px;
}

#cinemaone{font-size:25px;
    padding:10px auto;
line-height: 30px;
padding: 20px;
text-align: left;}